.mainContainer {
  width: 74%;
  display: flex;
  justify-content: space-between;
  height: 74vh;
  margin: 0 auto;
  transform: translateY(18%);
  background-color: white;
  border-radius: 17px;
  box-shadow: 0 6px 150px 60px rgba(205, 222, 248, 0.877);
}
